fastapi
uvicorn[standard]
httpx
PyGithub
radon
pydantic
pydantic-settings
python-dotenv
orjson
loguru
tree-sitter
tree-sitter-python
authlib
asyncpg
python-jose[cryptography]
passlib
pydantic[email]
bcrypt